doctype html
html(lang="en")
	head
		include header.pug
	body
		header
			nav.px-3.navbar.navbar-dark.bg-dark
				a.navbar-brand(href="/") TDG - KS Bot
				form.d-flex
					button.btn.btn-success(type="button") Login
		main
			h1.display-2.text-center.pt-5 Coming Soon &trade;
		footer.align-self-end.pe-3 &copy; 2022 SadFrogMemer
		include scripts.pug
		script(type="text/javascript", src="/js/index.js")